<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="dotsAndSquares" class="Task008.DotsAndSquares" scope="prototype">
        <constructor-arg value="3"/>
    </bean>

    <bean id="serverSocket" class="java.net.ServerSocket" scope="prototype">
        <constructor-arg value="3456"/>
    </bean>

    <bean id="arrayList" class="java.util.ArrayList">
    </bean>
</beans>